@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using ProjectManager.Models.ConstAndEnums
@model ProjectManager.Models.ProjectViewModels.ShowProjectViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Scrum/Views/Shared/_Layout.cshtml";
}
<br/>
<div class="row" align="center">
    <div class="panel panel-default col-lg-6 col-lg-offset-3" >
        <div class="page-header">
            <h2>All available projects</h2>
        </div>
        <div class="panel-body">
                @foreach (var proj in Model.AllProjects)
                {
                    string typeProj = "";
                    switch (proj.ProjectType)
                    {
                        case ProjectTypeEnum.Scrum:
                            typeProj = "Scrum";
                            break;
                    }
                    if (proj.Id == Model.SelectedProject.Id)
                    {
                        <div class="row">
                            <input type="button" class="btn btn-primary btn-lg col-lg-10" value="@proj.Name" onclick="location.href = '@Url.Action("Index", "Project", new {Area=typeProj, selectedProjId = proj.Id,})'" />
                            <input type="button" class="btn btn-link btn-lg col-lg-2" value="Edit" onclick="location.href = '@Url.Action("Show", "Project",new {Area=typeProj, selectedProjId = proj.Id,})'" />
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <input type="button" class="btn btn-link btn-lg  col-lg-10" value="@proj.Name" onclick="location.href = '@Url.Action("Index", "Project", new {Area=typeProj,selectedProjId = proj.Id,})'" />
                        </div>
                    }
                }
        </div>
        <div align="right">
            <input type="button" class="btn btn-dark btn-lg" value="Create new project" onclick="location.href = '@Url.Action("Create", "Project")'" />
        </div>
    </div>
</div>